In [41]:
import numpy as np
import pandas as pd
from pydataset import data

In [7]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in /usr/local/anaconda3/lib/python3.7/site-packages (1.4.4)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install pymysql

Requirement already satisfied: pymysql in /usr/local/anaconda3/lib/python3.7/site-packages (0.9.3)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import pandas as pd
from env import host, user, password

url = f'mysql+pymysql:=={user}:{password}@{host}/employees'

In [13]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [14]:
sql = '''
SELECT
    emp_no,
    first_name,
    last_name
FROM employees
WHERE gender = 'F'
LIMIT 5
OFFSET 200
'''

pd.read_sql(sql, url)

   emp_no first_name       last_name
0   10513   Yuichiro        Schicker
1   10519   Yonghoan         Alencar
2   10522      Marke        Cesareni
3   10524  Shigehiro        Cincotta
4   10526    Kwangho  Theuretzbacher

In [19]:
pd.read_sql('SELECT * FROM titles LIMIT 5 OFFSET 50')

TypeError: read_sql() missing 1 required positional argument: 'con'

In [22]:
url = f'mysql+pymysql://{user}:{password}@{host}/employees'

In [55]:
pd.read_sql(SELECT * from 'chipotle')

SyntaxError: invalid syntax (<ipython-input-55-a3383dc05d47>, line 1)

In [27]:
from env import host, user, password
url

'mysql+pymysql://bayes_824:alXk8EcCR6NsQNZwk6hGXAPIYWzx2d8B@157.230.209.171/employees'

In [53]:
pd.read_sql(url)

TypeError: read_sql() missing 1 required positional argument: 'con'

In [54]:
pd.read_sql('SELECT * FROM titles LIMIT 10 OFFSET 50', url)

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'bayes_824'@'%' to database ' chipotle'")
(Background on this error at: http://sqlalche.me/e/e3q8)

In [35]:
pd.read_sql('SELECT * FROM titles GROUPBY titles, url')

TypeError: read_sql() missing 1 required positional argument: 'con'

In [36]:
pwd

'/Users/mattsantos/codeup-data-science/python-exercises'

In [37]:
pd.read_sql('titles')

TypeError: read_sql() missing 1 required positional argument: 'con'

In [42]:
chipotle= data('chipotle')

Did you mean:
Chile, Chirot, Cowles, hirose, cities, Hitters, shuttle, pottery, Pottery, alcohol, coleman

In [43]:
import chipotle

In [44]:
url = f'mysql+pymysql://{user}:{password}@{host}/chipotle'

In [45]:
url

'mysql+pymysql://bayes_824:alXk8EcCR6NsQNZwk6hGXAPIYWzx2d8B@157.230.209.171/chipotle'

In [48]:
def get_db_url():
    url = f'mysql+pymysql://{user}:{password}@{host}/employees'
get_db_url('chipotle')

TypeError: get_db_url() takes 0 positional arguments but 1 was given

In [51]:
protocol://[user[:password]@]hostname/['chipotle']

SyntaxError: invalid syntax (<ipython-input-51-771d12fe2621>, line 1)

In [56]:
url = f'mysql+pymysql://{user}:{password}@{host}/chipotle'

In [60]:
pd.read_sql([chipotle])

TypeError: read_sql() missing 1 required positional argument: 'con'

In [67]:
from env import host, user, password

def get_db_url():
    user= env.user
    password= env.password
    host = env.host
    database_name= input("enter a database ")
    url= f'mysql+pymysql://{user}:{password}@{host}[database_name]
    return url

SyntaxError: EOL while scanning string literal (<ipython-input-67-119376cd7e73>, line 8)

In [72]:
from env import host, user, password
#mysql+pymysql://codeup:p@assw0rd@123.123.123.123/some_db
url = f'mysql+pymysql://{user}:{password}@{host}/employees'